@font-face {
    font-family: my-cool-font;
    src: url(/Lucky\ Blues.otf);
}

body {
    font-family: Georgia, serif;
    background-color: rgb(226, 219, 219);
    color:wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.wrapper, .buttonsContainer, .footer {
    width: 800px;
    margin: auto;
}

.wrapper {
    height: 1300px;
    background-color: blue;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw ;
    gap: 1vh;
}

button {
    width: 33.33%;
    height: 8vh;
    border: none;
}

.footer {
    background-color: yellow;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
}

img {
    width: 450px;
}

h2, h3 {
    color: yellow;
    font-family: my-cool-font, Georgia, serif;
    text-align: center;
}